html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

:root {
    --primary: #306a9f;
    --secondary: #deb038;
    --warn: #ac2828;
    --gray: #edebde;
    --dark: #1d2633;
}

