:host {
    background-color: var(--dark);
    .memberContainer {
    background-color: var(--dark);


        .team-member-title {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            gap: 3px;

            color: white;

            mat-icon {
                position: relative;
                top: 3px;
                right: 2px;
            }
        }
    }


}
