<div class="dialog-container">

    <div class="nav-menu">
        <!-- delete angular material icon -->
        <mat-icon color="warn" aria-hidden="false" mat-dialog-close aria-label="delete mission"
            matTooltip="Supprimer la mission" (click)="onDeleteMission()">delete</mat-icon>
    </div>

    <form [formGroup]="missionFormGroup" (ngSubmit)="onUpdateMission()">



        <mat-form-field appearance="standard">
            <mat-label>Titre de la mission</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="missionFormGroup.title?.invalid && missionFormGroup.title?.touched">
                Titre de la mission est obligatoire
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="standard">
            <mat-label>Membre de l'équipe
                <ng-container *ngIf="teamMember && !missionFormGroup.teamMember?.touched "> : {{teamMember.first_name}}
                    {{teamMember.last_name}}</ng-container>
            </mat-label>
            <mat-select formControlName="teamMember">
                <mat-option *ngFor="let member of teamMembers$ |async" [value]="member">
                    {{member.last_name}} {{member.first_name}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="missionFormGroup.teamMember?.invalid && missionFormGroup.teamMember?.touched">
                Membre de l'équipe est obligatoire
            </mat-error>
        </mat-form-field>



        <div class="color">
            <mat-form-field appearance="standard">
                <mat-label>Couleur</mat-label>
                <input matInput type="color" formControlName="color">
                <mat-error *ngIf="missionFormGroup.color?.invalid && missionFormGroup.color?.touched">
                    Couleur est obligatoire
                </mat-error>
            </mat-form-field>
        </div>



        <mat-form-field appearance="standard">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
            <mat-error *ngIf="missionFormGroup.description?.invalid && missionFormGroup.description?.touched">
                Description est obligatoire
            </mat-error>
        </mat-form-field>


        <span class="separator"></span>


        <div class="date-hour">
            <mat-form-field appearance="standard">
                <mat-label>Date de début</mat-label>
                <input matInput formControlName="start_date" type="date">
                <mat-error *ngIf="missionFormGroup.start_date?.invalid && missionFormGroup.start_date?.touched">
                    Date de début est obligatoire
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="standard">
                <mat-label>Date de fin</mat-label>
                <input matInput formControlName="end_date" type="date">
                <mat-error *ngIf="missionFormGroup.end_date?.invalid && missionFormGroup.end_date?.touched">
                    Date de fin est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <span class="separator"></span>


        <div class="all-day-checkbox">
            <mat-checkbox formControlName="all_day">Toute la journée</mat-checkbox>
        </div>

        <span class="separator"></span>


        <div class="date-hour" *ngIf="!(missionFormGroup.all_day?.value)">


            <mat-form-field appearance="standard">
                <mat-label>Heure de début</mat-label>
                <input matInput type="time" formControlName="start_hour">
                <mat-error *ngIf="missionFormGroup.start_hour?.invalid && missionFormGroup.start_hour?.touched">
                    heure de début est obligatoire
                </mat-error>
            </mat-form-field>



            <mat-form-field appearance="standard">
                <mat-label>Heure de fin</mat-label>
                <input matInput type="time" formControlName="end_hour">
                <mat-error *ngIf="missionFormGroup.end_hour?.invalid && missionFormGroup.end_hour?.touched">
                    heure de fin est obligatoire
                </mat-error>
            </mat-form-field>

        </div>



        <!-- team_id form -->



















        <button mat-stroked-button [disabled]="missionFormGroup.invalid" color="primary" type="submit"
            mat-dialog-close="">SAUVEGARDER LES
            CHANGEMENTS</button>
    </form>

</div>