<div class="dialog-container">
    <form [formGroup]="missionFormGroup" (ngSubmit)="onCreateMission()">


        <h2 class="title">Créer une mission</h2>

        <mat-form-field appearance="outline">
            <mat-label>Nom de la mission</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="missionFormGroup.title?.invalid && missionFormGroup.title?.touched">
                Nom de la mission est obligatoire
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Membre</mat-label>
            <input matInput formControlName="team_id">
            <mat-error *ngIf="missionFormGroup.team_id?.invalid && missionFormGroup.team_id?.touched">
                Membre est obligatoire
            </mat-error>
        </mat-form-field>

        <div class="color">
            <mat-form-field appearance="fill">
                <mat-label>Couleur</mat-label>
                <input matInput type="color" formControlName="color">
                <mat-error *ngIf="missionFormGroup.color?.invalid && missionFormGroup.color?.touched">
                    Couleur est obligatoire
                </mat-error>
            </mat-form-field>
        </div>



        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
            <mat-error *ngIf="missionFormGroup.description?.invalid && missionFormGroup.description?.touched">
                Description est obligatoire
            </mat-error>
        </mat-form-field>


        <span class="separator"></span>


        <div class="date-hour">
            <mat-form-field appearance="outline">
                <mat-label>Date de début</mat-label>
                <input matInput formControlName="start_date" type="date">
                <mat-error *ngIf="missionFormGroup.start_date?.invalid && missionFormGroup.start_date?.touched">
                    Date de début est obligatoire
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Date de fin</mat-label>
                <input matInput formControlName="end_date" type="date">
                <mat-error *ngIf="missionFormGroup.end_date?.invalid && missionFormGroup.end_date?.touched">
                    Date de fin est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <span class="separator"></span>


        <div class="all-day-checkbox">
            <mat-checkbox formControlName="all_day">Toute la journée</mat-checkbox>
        </div>

        <span class="separator"></span>


        <div class="date-hour" *ngIf="!(missionFormGroup.all_day?.value)">


            <mat-form-field appearance="outline">
                <mat-label>Heure de début</mat-label>
                <input matInput type="time" formControlName="start_hour">
                <mat-error *ngIf="missionFormGroup.start_hour?.invalid && missionFormGroup.start_hour?.touched">
                    heure de début est obligatoire
                </mat-error>
            </mat-form-field>



            <mat-form-field appearance="outline">
                <mat-label>Heure de fin</mat-label>
                <input matInput type="time" formControlName="end_hour">
                <mat-error *ngIf="missionFormGroup.end_hour?.invalid && missionFormGroup.end_hour?.touched">
                    heure de fin est obligatoire
                </mat-error>
            </mat-form-field>

        </div>



        <!-- team_id form -->



















        <button mat-stroked-button [disabled]="missionFormGroup.invalid" color="primary" type="submit"
            mat-dialog-close="">SAUVEGARDER LES
            CHANGEMENTS</button>
    </form>

</div>